

<div class="about_main about-main">
  <div class="top-message">
    <h1>CookProとは？</h1>
    <p>みんなの作ったレシピを閲覧・自分のレシピを投稿できるサービスです</p>
    <img class="about-img" src="/menu1.jpg">
    <img class="about-img" src="/menu2.jpg">
    <img class="about-img" src="/menu3.jpg">
  </div>
</div>
