<header>
  <div class="header-logo">
    <a href="/home/top">
    CookPro
    </a>
  </div>
  <ul class="header-menus">
    <a href="/home/about">CookProとは</a>
  </ul>
</header>

<div class="about_main about-main">
  <div class="top-message">
    <h1>CookProとは？</h1>
    <p>みんなの作ったレシピを閲覧・自分のレシピを投稿できるサービスです</p>
    <img class="about-img" src="/menu1.jpg">
  </div>
</div>
