

<div class="main top-main">
  <div class="top-message">
    <% if session[:user_id] %>

    <% else %>
      <h1>今日のメニューはCookProで決めよう</h1>
      <p>レシピを閲覧・投稿してみよう</p>
      <a href="/login">ログイン</a>
      <br>
      <a href="/signup" class="top-signup">新規登録はこちらから</a>
    <% end %>
  </div>
</div>
