<header>
  <div class="header-logo">
    <a href="/home/top">
    CookPro
    </a>
  </div>
  <ul class="header-menus">
    <a href="/home/about">CookProとは</a>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h1>今日のメニューはCookProで決めよう</h1>
    <p>レシピを閲覧・投稿してみよう</p>
  </div>
</div>
